<div class='container'>
  <p>
    about works!
  </p>
  <img class="about-selfie" src="../../assets/img/index.jpeg" alt="markhor" />
  <!--<img class="about-selfie"src="../../assets/img/index1.jpeg" alt="markhor" />-->
  <a href="/">Go back to home</a>
</div>

<ul class='first-of-type'>
  <li>this</li>
  <li>is</li>
  <li>my</li>
  <li>first</li>
  <li>item</li>
</ul>

<ul>
  <li>this</li>
  <li>is</li>
  <li>my</li>
  <li>first</li>
  <li>item</li>
</ul>

<ul>
  <li>this</li>
  <li>is</li>
  <li>my</li>
  <li>first</li>
  <li>item</li>
</ul>