<div class="container">
  <h1>My first Website</h1>
  <p>Here are somethings I enjoy</p>
  <ul>
    <li>Listening bayans</li>
    <li>Cards</li>
    <li>Talking</li>
    <li>Development</li>
  </ul>
  <h4>
    Fav Quotes
  </h4>
  <div class="quote">
    <blockquote cite="">
      <p>
        Success is a continous struggle between you and yourself.
      </p>
    </blockquote>  
  </div>
  <div class="quote">
    <blockquote cite="">
      <p>
        When pen hasted to write, on reaching the subject of love it split in twain.
      </p> 
    </blockquote>  
  </div>
  
</div>