<div class="wrap">  
  <h1>My second Web</h1>
  <ul>
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Portfolio</a>
    </li>
    <li>
      <a href="#">About Us</a>
    </li>
    <li>
      <a href="#">Content</a>
    </li>
    <li>
      <a href="">Home</a>
    </li>
  </ul>
  <aside>
    SideNav
    <ul>
      <li>
        <a href="">home</a>
      </li>
      <li>
        <a href="">about us</a>

      </li>
      <li>
        <a href="">ads</a>
      </li>
      <li>
        <a href="">profile</a>
      </li>
      <li>
        <a href="">fooBar</a>
      </li>
    </ul>
  </aside>
  <div class="content">
    <h3>content</h3>
    <form method="get" name="contactInfo">
      <ul>
        <li>
          <label for="email">Email:</label>
          <input type="text" id="email"name="email" value="" />
        </li>
        <li>
          <label for="comments">Comments:</label>
          <textarea id="comments" name="comments" rows="" cols=""></textarea>
        </li>
        <li>
          <label for="agree">Agree to Terms and conditions:</label>
          <input type="checkbox" id="agree" name="agree" value="" />
        </li>
        <li>
          <input type="submit" value="Go!">          
        </li>
      </ul>
    </form>
  </div>

  <footer>
    <h2>this is the footer</h2>
  </footer>
</div>